@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.fi-layout {
    @apply !bg-gray-50 dark:!bg-gray-950;
}

.fi-sidebar-nav{
    @apply !bg-white dark:!bg-gray-950 border-t;
}